@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
:root{
  --main-blue: #274a8d;
  --dark-blue:  #0b295e;
  --light-text: aliceblue;
}

html{
   font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
h1 {
    font-size: clamp(3rem, 5vw, 5rem);
}
h3{
  font-size: clamp(2rem, 3vw, 3rem);
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  font-size: clamp(2rem, 1.5vw + 1.5rem, 3rem);
}
.catalog{
  display: grid;
  justify-content: stretch;
  justify-items: center;
  align-items: stretch;
  margin-top: 1rem;
  gap: 3rem;
  width: 95%;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
}
.header {
  background-color: var(--main-blue);
  color:var(--light-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding: 3%;
  border-radius: 10px;
  gap: 20px;
  width: 95%;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
.nav-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-items: center;
}

.nav-item a{
  color: var(--light-text);
  margin: 1rem;
  background-color: rgba(225,225,225, 0);
  transition: all 0.3s ease;
  flex: 1;
  padding: 1rem;
}

#menu-toogle{
  display: none;
}

.nav-item a:hover{
  background-color: var(--dark-blue);
  border-radius: 5px;
  padding: 0.5rem;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-text);
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(114, 129, 175, 0.479);
  transition: all 0.3s ease;
  padding: 1%;
  min-width: 0;
  width: 100%;
}

.product-card > *{
  padding: 1%;
  width: 96%;
  border-radius: 10px;
}

.product-card:hover{
   box-shadow: 0 20px 50px rgba(86, 100, 139, 0.7);
   transform: translateY(5px);
}

.product-price{
  color:#71a3ff;
  font-size: clamp(3rem, 3vw, 4rem);
}

.product-card.rented{
  opacity: 0.6;
}

.product-description{
    font-size: clamp(1rem, 1vw, 1.6rem); 
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    min-width: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-image{
  aspect-ratio: 4/3;
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.product-status{
  display: flex;
  background-color: #c2d6fa;
  font-size: clamp(1.4rem, 1vw, 2rem); 
  border-radius: 20px;
  padding: 2px;
  align-items: center;
  height: 50%;
}
.product-price-status{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

@media (max-width: 676px) {
  .catalog{
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }

  .header-top{
    display: flex;
    justify-content: space-between; 
    width: 90%;
    align-items: center
  }
  .header-top h1{
    padding: 0.4rem;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    cursor: pointer;
    z-index: 10;
    margin: 5%;
  }
  .hamburger span{
    width: 25px;
    height: 3px;
    background: var(--light-text);
    border-radius: 2px
  }
  .navbar{
    width: 100vw;
    max-height: 0;
    margin: -3%;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;    
    gap: 0;
    width: 100%;
    background:  var(--main-blue);
    padding: 1rem;
    box-shadow:  0 6px 10px rgba(7, 22, 66, 0.479);
    transition: all 0.3s ease-in-out;
    
  }
  .nav-links li{
    display: flex;
    width: 100%;
    padding: 0;
    align-content: start;
    
  }
  .nav-links a{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    padding: 1rem;
  }
  .nav-item a:hover{
    background-color: var(--dark-blue);
    border-radius: 0;
  }
  .header{
    width: 100%;
    border-radius: 0px;
    margin: 0;
    position: sticky;
  }
  
  .header:has(#menu-toogle:checked) .nav-links{
    opacity: 1;
    visibility: visible;
  } 
  .header:has(#menu-toogle:checked) .navbar{
    max-height: 500px;
  } 

  
}