@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
*{
    box-sizing: border-box
}
:root{
    --header-back: #5964e0;
    --table-hover: rgba(95, 103, 187, 0.24);
    --button-hover: #191e50;
    --background: #f5f6ff;
    --letters-dark: #1e1e1f;
    --grey: #c2bfbf;
    --letters-light: #f2f2ff;
    --shadow: rgba(12, 5, 109, 0.05);
}
html{
     font-size: 62.5%;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: #1e1e1f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}
h1 {
    font-size: clamp(2rem, 4vw, 4rem);
}
h3{
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
input, select{
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}
.header{
    justify-items: center;
    background-color: var(--header-back);
    color: var(--letters-light);
    width: 100%; 
    padding: 1%;
    box-shadow: 0 2px 10px var(--shadow);
}

.inline{
    display: flex;
    justify-items: stretch;
    gap: 10px;
    width: 100%;
}
button{
    background-color: var(--header-back);
    color: var(--letters-light);
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}
button:hover{
    background-color: var(--button-hover);
}
.block {
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: 0 2px 10px rgba(12, 5, 109, 0.05);
    width: 100%;
}
.form-block{
    display: flex;
    flex-direction: column;
    align-items:start;
    background-color: #fff;
    position: relative;
    max-width: 500px;
    width: 90%;
    animation: fadeIn 0.3s ease;
}
.search-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.table-block{
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(12, 5, 109, 0.05);
    width: 100%;
    width: 100%;            
    overflow-x: auto; 
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; 
    padding-left: 0px;
}

.search-input, .select-filter {
    display: flex;
    align-items: center;
    flex: 1;
}

.select-filter {
    border-left: 1px solid var(--grey);
    margin-left: 10px;
    padding-left: 10px;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
} 
.filter {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #333;
    background: transparent;
    cursor: pointer;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    color: #333;
    background:transparent;
    cursor: pointer;
} 
input::placeholder {
    color: var(--grey);
} 

.input-item{
    display: flex;
    gap:10px;
}

th{
    background-color: var(--header-back);
    color: var(--letters-light);
    border:  1px solid var(--letters-light);
}
table{
    padding: 5px;
    border-collapse: collapse; 
    width: 100%;
}
td{
    border: 1px solid var(--grey);
    padding: 10px;
}

.first{
    position: sticky;
    left: 0;
    background-color: var(--header-back);
    z-index: 10;           
    color: white;
} 
th{
    padding: 10px;
}
tr:hover{
    background-color: var(--table-hover)
}
th:hover{
    background-color: var(--button-hover);
}
.table-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px
}
.main{
    display: flex;
    flex-direction: column;
    padding: 2rem;    
    gap: 20px;
    align-items: stretch
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@media (max-width: 500px) {
  .search-block{
    flex-direction: column;
    align-items: start;
}
}